{%- liquid
  assign animation_name = 'drawer-items-fade'
  assign animation_name_images = 'drawer-images-fade'
  assign animation_duration = 500
  assign animation_delay = 200
  assign animation_delay_increment = 50
  assign unique = unique | default: section.id
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = current_variant.featured_media | default: product.featured_media
  assign preorder = false
  if product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
    assign preorder = true
    assign preorder_type = 'product'
  endif

  if current_variant.metafields.theme.preorder.type == 'boolean' and current_variant.metafields.theme.preorder.value == true
    assign preorder = true
  endif

  assign product_tags = product.tags | join: ','
  if product_tags contains '_preorder'
    assign preorder = true
    assign preorder_type = 'product'
  endif

  assign sold_out = false
  unless product.available
    assign sold_out = true
  endunless
-%}

<div data-api-content>
  <product-info
    class="product-upsell-info"
    data-section="{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-product-handle="{{ product.handle }}"
    data-product-id="{{ product.id }}"
    data-url="{{ product.url }}"
    data-update-url="false"
  >
    <product-images
      class="product-quick-add__images product__images product__images--thumbs product__images--mobile-thumbs"
      data-active-media="{{ section.id }}-{{ featured_media.id }}"
      data-fader-desktop
    >
      <div
        class="product__slides"
        data-product-media-list
        data-animation="{{ animation_name_images }}"
        data-animation-duration="{{ animation_duration }}"
        data-animation-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
      >
        {%- if product.media.size > 0 -%}
          {%- for media in product.media -%}
            {%- render 'media',
              media: media,
              featured_media: featured_media,
              enable_video_looping: true,
              sectionkey: section.id,
              product_api: true,
              image_width: '365',
              loading: 'eager',
              fetchpriority: 'high',
              cover: true
            -%}
          {%- endfor -%}

          {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
          {%- if first_3d_model -%}
            <button
              class="btn btn--outline btn--black btn--ar product-quick-add__view-in-space"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | strip_html }}"
              data-shopify-xr-hidden
            >
              {%- render 'icon-media-model' -%}
              <span class="product-quick-add__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
            </button>
          {%- endif -%}
        {%- else -%}
          <div class="product__slide">
            <div class="product__photo">
              {%- render 'image',
                image: product.featured_image,
                widths: '365, 550, 730, 1100, 1460',
                loading: 'eager',
                cover: true
              -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </product-images>

    <div class="product-quick-add__form">
      <div class="product-quick-add__form__inner" data-form-wrapper>
        {%- liquid
          assign product_form_id = 'product-form-' | append: section.id

          render 'product-title', product: product, is_title_linked: true, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
          assign animation_delay = animation_delay | plus: animation_delay_increment

          render 'product-price', product: product, unique: unique, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
          assign animation_delay = animation_delay | plus: animation_delay_increment

          render 'product-siblings', product: product, product_form_id: product_form_id, block: block, metafields: true, product_api: true, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
          assign animation_delay = animation_delay | plus: animation_delay_increment

          render 'product-variant-picker', product: product, product_form_id: product_form_id
          assign animation_delay = animation_delay | plus: animation_delay_increment

          render 'product-description', product: product, product_api: true, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
          assign animation_delay = animation_delay | plus: animation_delay_increment
        -%}

        {% comment %} Depending whether the product variant is a preorder or not, we will submit a line item property: "preorder" in the cart {% endcomment %}
        <input
          type="hidden"
          name="properties[{{ 'products.product.sale_type' | t }}]"
          value="{{ 'products.product.pre_order' | t }}"
          form="{{ product_form_id }}"
          data-product-preorder
        >

        {%- if settings.show_gift_card_recipient and product.gift_card? -%}
          <div
            class="product__block block-padding"
            {% if animation_name %}
              data-animation="{{ animation_name }}"
              data-animation-duration="{{ animation_duration }}"
              data-animation-delay="{{ animation_delay }}"
            {% endif %}
          >
            {%- render 'gift-card-recipient-form',
              product: product,
              form: form,
              section: section,
              product_form_id: product_form_id
            -%}
          </div>
        {%- endif -%}

        {%- render 'product-buttons',
          product: product,
          unique: unique,
          product_form_id: product_form_id,
          animation_name: animation_name,
          animation_delay: animation_delay,
          animation_duration: animation_duration,
          quickview: true
        -%}
      </div>
    </div>
  </product-info>
</div>
